* {
  box-sizing: border-box;
}

header{
  font-size: 35px;
  padding: 2px;
  text-align: center;
  margin: 8px;
}

#a{
  background-color: cyan;
}

#b{
  background-color: magenta;
  color: white;
}

#c{
  background-color: yellow;
}

p{
  margin: 10px;
  margin-top: 20px;
}

div {
  position: relative;
}

.top-right{
  float: right;
  top: 5px;
  right: 5px;
  color: black; 
  border: 2px solid black;
  padding: 2px;
}

@media (min-width: 992px){
  .col-lg-4{
    float: left;
    border: 3px solid black;
    margin: 8px;
    color: white;
    background-color: grey;
    position: relative;
    width: calc(33.33% - 16px)
  }
}

@media (max-width: 991px) and (min-width: 768px){
  .col-md-6, .col-md-12{
    float: left;
    border: 3px solid black;
    margin: 8px;
    color: white;
    background-color: grey;
    position: relative;
  }
  .col-md-6{
    width: calc(50% - 16px)
  }
  .col-md-12{
    width: calc(100% - 16px)
  }
}

@media (max-width: 767px){
  .col-sm-12{
    float: left;
    border: 3px solid black;
    margin: 8px;
    color: white;
    background-color: grey;
    position: relative;
    width: calc(100% - 16px)
  }
}
